In [5]:
import pandas as pd
df = pd.read_json('/Users/klaus/Documents/Alstin/founder.json')

ValueError: arrays must all be same length

In [101]:
def dict_get(x,key,here=None):
    x = x.copy()
    if here is None: here = []
    if x.get(key):  
        here.append(x.get(key))
        x.pop(key)
    else:
        for i,j in x.items():
          if  isinstance(x[i],list): dict_get(x[i][0],key,here)
          if  isinstance(x[i],dict): dict_get(x[i],key,here)
    return here

In [130]:
df

                                                                                 0
id                                                                           60188
name                                                                   Andrew Hunt
path                                                                   andrew_hunt
type                                                                      investor
url                                  https://app.dealroom.co/investors/andrew_hunt
images                           {'32x32': 'https://s3-eu-west-1.amazonaws.com/...
backgrounds                                        [{'id': 3, 'name': 'business'}]
gender                                                                        male
is_serial_founder                                                             True
universities                     {'items': [{'id': 132929, 'degree': {'id': 1, ...
deleted                                                                      False
tagline                                                                       None
website_url                                                                   None
twitter_url                                                                   None
facebook_url                                                                  None
linkedin_url                              https://www.linkedin.com/in/andrewhunt2/
google_url                                                                    None
crunchbase_url                         https://www.crunchbase.com/person/andy-hunt
angellist_url                                                                 None
playmarket_app_id                                                             None
appstore_app_id                                                               None
hq_locations                     [{'id': 559602, 'address': 'New York City, New...
founder_score                                                                   23
is_founder                                                                    True
is_strong_founder                                                            False
is_super_founder                                                             False
is_promising_founder                                                         False
founded_companies_total_funding                                             970800
last_updated                                              2022-06-04T19:41:06+0100
last_updated_utc                                               2022-06-04 18:41:06
created_utc                                                    2013-10-01 11:00:00
companies                        {'items': [{'id': 2329, 'name': 'Highland Capi...

In [128]:
a=dict_get(data,"universities")[0]["items"]
type(a)

list

In [160]:
l=pd.DataFrame.from_dict(b[0], orient="index")

In [170]:
b=pd.DataFrame(a)["university"]
df1=pd.DataFrame.from_dict(b[1], orient="index")
df1[1]=l

In [145]:
pd.DataFrame(b[1][0])

KeyError: 0

In [171]:
df1

,0,1
id,1755738,935953
name,Deerfield Academy,The Wharton School
path,deerfield_academy,university_of_pennsylvania_the_wharton_school
type,university,university
url,https://app.dealroom.co/universities/deerfield...,https://app.dealroom.co/universities/universit...
images,{'32x32': 'https://s3.eu-west-2.amazonaws.com/...,{'32x32': 'https://s3-eu-west-1.amazonaws.com/...

In [96]:
uni=df.loc["universities",:]
companies=df.loc["companies",:]

In [100]:
type(companies)

pandas.core.series.Series

In [66]:
uni[0]

{'items': [{'id': 132929,
   'degree': {'id': 1, 'name': 'MBA', 'years': 5},
   'majors': [{'id': 17, 'name': 'Finance'}],
   'year_start': 2008,
   'year_end': 2010,
   'university': {'id': 935953,
    'name': 'The Wharton School',
    'path': 'university_of_pennsylvania_the_wharton_school',
    'type': 'university',
    'url': 'https://app.dealroom.co/universities/university_of_pennsylvania_the_wharton_school',
    'images': {'32x32': 'https://s3-eu-west-1.amazonaws.com/dealroom-images/bd/MzI6MzI6dW5pdmVyc2l0eUBzMy1ldS13ZXN0LTEuYW1hem9uYXdzLmNvbS9kZWFscm9vbS1pbWFnZXMvMjAxOC8wMy8yNy8zMmVhNzFlOTY2ZDYzNmZiMWUwZDdlYTc2ZWQyYWRiYw==.jpg',
     '74x74': 'https://s3-eu-west-1.amazonaws.com/dealroom-images/cc/NzQ6NzQ6dW5pdmVyc2l0eUBzMy1ldS13ZXN0LTEuYW1hem9uYXdzLmNvbS9kZWFscm9vbS1pbWFnZXMvMjAxOC8wMy8yNy8zMmVhNzFlOTY2ZDYzNmZiMWUwZDdlYTc2ZWQyYWRiYw==.jpg',
     '100x100': 'https://s3-eu-west-1.amazonaws.com/dealroom-images/89/MTAwOjEwMDp1bml2ZXJzaXR5QHMzLWV1LXdlc3QtMS5hbWF6b25hd3MuY29tL2RlYWxyb29tLWltYWdlcy8yMDE4LzAzLzI3LzMyZWE3MWU5NjZkNjM2ZmIxZTBkN2VhNzZlZDJhZGJj.jpg'}}},
  {'id': 132933,
   'degree': None,
   'majors': [],
   'year_start': 1997,
   'year_end': 2000,
   'university': {'id': 1755738,
    'name': 'Deerfield Academy',
    'path': 'deerfield_academy',
    'type': 'university',
    'url': 'https://app.dealroom.co/universities/deerfield_academy',
    'images': {'32x32': 'https://s3.eu-west-2.amazonaws.com/dealroom-static/null/university-32.png',
     '74x74': 'https://s3.eu-west-2.amazonaws.com/dealroom-static/null/university-74.png',
     '100x100': 'https://s3.eu-west-2.amazonaws.com/dealroom-static/null/university-100.png'}}}],
 'total': 2}

In [65]:
universities

                                               items  total
0  {'id': 132929, 'degree': {'id': 1, 'name': 'MB...      2
1  {'id': 132933, 'degree': None, 'majors': [], '...      2

In [72]:
for keys,values in uni[0].items():
    print(keys)
    print(values)

items
[{'id': 132929, 'degree': {'id': 1, 'name': 'MBA', 'years': 5}, 'majors': [{'id': 17, 'name': 'Finance'}], 'year_start': 2008, 'year_end': 2010, 'university': {'id': 935953, 'name': 'The Wharton School', 'path': 'university_of_pennsylvania_the_wharton_school', 'type': 'university', 'url': 'https://app.dealroom.co/universities/university_of_pennsylvania_the_wharton_school', 'images': {'32x32': 'https://s3-eu-west-1.amazonaws.com/dealroom-images/bd/MzI6MzI6dW5pdmVyc2l0eUBzMy1ldS13ZXN0LTEuYW1hem9uYXdzLmNvbS9kZWFscm9vbS1pbWFnZXMvMjAxOC8wMy8yNy8zMmVhNzFlOTY2ZDYzNmZiMWUwZDdlYTc2ZWQyYWRiYw==.jpg', '74x74': 'https://s3-eu-west-1.amazonaws.com/dealroom-images/cc/NzQ6NzQ6dW5pdmVyc2l0eUBzMy1ldS13ZXN0LTEuYW1hem9uYXdzLmNvbS9kZWFscm9vbS1pbWFnZXMvMjAxOC8wMy8yNy8zMmVhNzFlOTY2ZDYzNmZiMWUwZDdlYTc2ZWQyYWRiYw==.jpg', '100x100': 'https://s3-eu-west-1.amazonaws.com/dealroom-images/89/MTAwOjEwMDp1bml2ZXJzaXR5QHMzLWV1LXdlc3QtMS5hbWF6b25hd3MuY29tL2RlYWxyb29tLWltYWdlcy8yMDE4LzAzLzI3LzMyZWE3MWU5NjZkNjM2ZmIxZTBkN2VhNzZlZDJhZGJj.jpg'}}}, {'id': 132933, 'degree': None, 'majors': [], 'year_start': 1997, 'year_end': 2000, 'university': {'id': 1755738, 'name': 'Deerfield Academy', 'path': 'deerfield_academy', 'type': 'university', 'url': 'https://app.dealroom.co/universities/deerfield_academy', 'images': {'32x32': 'https://s3.eu-west-2.amazonaws.com/dealroom-static/null/university-32.png', '74x74': 'https://s3.eu-west-2.amazonaws.com/dealroom-static/null/university-74.png', '100x100': 'https://s3.eu-west-2.amazonaws.com/dealroom-static/null/university-100.png'}}}]
total
2

In [73]:
def flatten_dict(nested_dict):
    res = {}
    if isinstance(nested_dict, dict):
        for k in nested_dict:
            flattened_dict = flatten_dict(nested_dict[k])
            for key, val in flattened_dict.items():
                key = list(key)
                key.insert(0, k)
                res[tuple(key)] = val
    else:
        res[()] = nested_dict
    return res


def nested_dict_to_df(values_dict):
    flat_dict = flatten_dict(values_dict)
    df = pd.DataFrame.from_dict(flat_dict, orient="index")
    df.index = pd.MultiIndex.from_tuples(df.index)
    df = df.unstack(level=-1)
    df.columns = df.columns.map("{0[1]}".format)
    return df

In [126]:
nested_dict_to_df()

ValueError: Must pass non-zero number of levels/codes

In [79]:
univ

{('items',): [{'id': 132929,
   'degree': {'id': 1, 'name': 'MBA', 'years': 5},
   'majors': [{'id': 17, 'name': 'Finance'}],
   'year_start': 2008,
   'year_end': 2010,
   'university': {'id': 935953,
    'name': 'The Wharton School',
    'path': 'university_of_pennsylvania_the_wharton_school',
    'type': 'university',
    'url': 'https://app.dealroom.co/universities/university_of_pennsylvania_the_wharton_school',
    'images': {'32x32': 'https://s3-eu-west-1.amazonaws.com/dealroom-images/bd/MzI6MzI6dW5pdmVyc2l0eUBzMy1ldS13ZXN0LTEuYW1hem9uYXdzLmNvbS9kZWFscm9vbS1pbWFnZXMvMjAxOC8wMy8yNy8zMmVhNzFlOTY2ZDYzNmZiMWUwZDdlYTc2ZWQyYWRiYw==.jpg',
     '74x74': 'https://s3-eu-west-1.amazonaws.com/dealroom-images/cc/NzQ6NzQ6dW5pdmVyc2l0eUBzMy1ldS13ZXN0LTEuYW1hem9uYXdzLmNvbS9kZWFscm9vbS1pbWFnZXMvMjAxOC8wMy8yNy8zMmVhNzFlOTY2ZDYzNmZiMWUwZDdlYTc2ZWQyYWRiYw==.jpg',
     '100x100': 'https://s3-eu-west-1.amazonaws.com/dealroom-images/89/MTAwOjEwMDp1bml2ZXJzaXR5QHMzLWV1LXdlc3QtMS5hbWF6b25hd3MuY29tL2RlYWxyb29tLWltYWdlcy8yMDE4LzAzLzI3LzMyZWE3MWU5NjZkNjM2ZmIxZTBkN2VhNzZlZDJhZGJj.jpg'}}},
  {'id': 132933,
   'degree': None,
   'majors': [],
   'year_start': 1997,
   'year_end': 2000,
   'university': {'id': 1755738,
    'name': 'Deerfield Academy',
    'path': 'deerfield_academy',
    'type': 'university',
    'url': 'https://app.dealroom.co/universities/deerfield_academy',
    'images': {'32x32': 'https://s3.eu-west-2.amazonaws.com/dealroom-static/null/university-32.png',
     '74x74': 'https://s3.eu-west-2.amazonaws.com/dealroom-static/null/university-74.png',
     '100x100': 'https://s3.eu-west-2.amazonaws.com/dealroom-static/null/university-100.png'}}}],
 ('total',): 2}

In [95]:
type(uni[0])
pd.DataFrame.from_dict(uni[0]).iloc[1]

items    {'id': 132933, 'degree': None, 'majors': [], '...
total                                                    2
Name: 1, dtype: object

In [127]:
ab = pd.concat({k: pd.DataFrame(v).T for k, v in a.items()}, axis=0)
ab.T

AttributeError: 'list' object has no attribute 'items'

In [ ]:
# funktion welche das entsprechende Dataframe ausspuckt
import json
import pandas.io.json

def DF_from_json(filepath):

with open('/Users/klaus/Documents/Alstin/founder.json') as json_data:
    data = json.load(json_data)


df = pd.DataFrame.from_dict(data, orient="index")

In [172]:
pip install --pipreqs

Usage:
  /Users/klaus/opt/miniconda3/bin/python -m pip install [options] <requirement specifier> [package-index-options] ...
  /Users/klaus/opt/miniconda3/bin/python -m pip install [options] -r <requirements file> [package-index-options] ...
  /Users/klaus/opt/miniconda3/bin/python -m pip install [options] [-e] <vcs project url> ...
  /Users/klaus/opt/miniconda3/bin/python -m pip install [options] [-e] <local project path> ...
  /Users/klaus/opt/miniconda3/bin/python -m pip install [options] <archive url/path> ...

no such option: --pipreqs
Note: you may need to restart the kernel to use updated packages.