In [101]:
import pandas as pd
import numpy as np

In [102]:
test_data_cb = pd.read_csv("/Users/klaus/Documents/Alstin/Outbound_All_deals__export_Jun-17-2022.csv", sep=";")

In [103]:
test_data_cb.head()

,Affinity Row ID,Organization Id,Name,Website,Status,Description,Owner,Investment Size,Last Email,Reminders,...,CB Location (State) - Not available for export,CB Location (Country) - Not available for export,CB Industry - Not available for export,CB Investment Stage - Not available for export,Source,CB Last Funding Date - Not available for export,CB Investors - Not available for export,Lost Reason,Date Added,CB Description - Not available for export
0,110549018,286182967,Let's Lama,NaN,Call / Meeting -> move to dealflow,NaN,Christina Schmidt <christina.schmidt@alstin.de>,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,LinkedIn Navigator,NaN,NaN,NaN,06/13/2022,NaN
1,110547062,286181805,Steep,steep.app,Outreach done,NaN,Christina Schmidt <christina.schmidt@alstin.de>,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,LinkedIn Navigator,NaN,NaN,NaN,06/13/2022,NaN
2,110546996,286181449,Jetty,usejetty.com,Outreach done,NaN,Christina Schmidt <christina.schmidt@alstin.de>,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,LinkedIn Navigator,NaN,NaN,NaN,06/13/2022,NaN
3,110510705,286177187,tastric,tastric.com,1 Lost,Das Unternehmen entwickelt Software zur Analys...,Christina Schmidt <christina.schmidt@alstin.de>,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Startupdetector - START,NaN,NaN,1 Sector / Business Model,06.12.2022,NaN
4,110510703,286177186,Studio Sterneck & Co. KG,studio-sterneck.com,1 Lost,Das Unternehmen entwickelt Videospiele für den...,Philipp Rehsmann <philipp.rehsmann@alstin.de>,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Startupdetector - START,NaN,NaN,2 Out of focus,06.12.2022,NaN

In [104]:
for col in test_data_cb:
    print(col)

Affinity Row ID
Organization Id
Name
Website
Status
Description
Owner
Investment Size
Last Email
Reminders
CB Location (Address) - Not available for export
CB Location (City) - Not available for export
CB Location (State) - Not available for export
CB Location (Country) - Not available for export
CB Industry - Not available for export
CB Investment Stage - Not available for export
Source
CB Last Funding Date - Not available for export
CB Investors - Not available for export
Lost Reason
Date Added
CB Description - Not available for export

In [105]:
test_data_cb.drop(["Investment Size", "Last Email", "Reminders","CB Location (Address) - Not available for export",
"CB Location (City) - Not available for export",
"CB Location (State) - Not available for export",
"CB Location (Country) - Not available for export",
"CB Industry - Not available for export",
"CB Investment Stage - Not available for export",
"CB Last Funding Date - Not available for export",
"CB Investors - Not available for export",
"CB Description - Not available for export","Owner","Website"], axis=1, inplace=True)

In [106]:
len(test_data_cb)

4624

In [107]:
test_data_cb.head()

,Affinity Row ID,Organization Id,Name,Status,Description,Source,Lost Reason,Date Added
0,110549018,286182967,Let's Lama,Call / Meeting -> move to dealflow,NaN,LinkedIn Navigator,NaN,06/13/2022
1,110547062,286181805,Steep,Outreach done,NaN,LinkedIn Navigator,NaN,06/13/2022
2,110546996,286181449,Jetty,Outreach done,NaN,LinkedIn Navigator,NaN,06/13/2022
3,110510705,286177187,tastric,1 Lost,Das Unternehmen entwickelt Software zur Analys...,Startupdetector - START,1 Sector / Business Model,06.12.2022
4,110510703,286177186,Studio Sterneck & Co. KG,1 Lost,Das Unternehmen entwickelt Videospiele für den...,Startupdetector - START,2 Out of focus,06.12.2022

In [108]:
test_data_cb["Status"].unique()

array(['Call / Meeting -> move to dealflow', 'Outreach done', '1 Lost',
       'Incoming', 'Waitlist / later', 'To be contacted', nan, ' Siemens',
       ' etc.) as it creates coherence in systems at the most basic level of energy flow."',
       ' or custody providers',
       ' motivating user journey and flexibility to support their employees’ health and happiness. Helping and motivating to live a more happy and healthier life. ',
       '2nd outreach done',
       'Paula Rappenglück <paula.rappenglueck@alstin.de>', '05.11.2022'],
      dtype=object)

In [109]:
test_data_cb.loc[test_data_cb['Status'] == " motivating user journey and flexibility to support their employees’ health and happiness. Helping and motivating to live a more happy and healthier life. "]

,Affinity Row ID,Organization Id,Name,Status,Description,Source,Lost Reason,Date Added
2825,We partner with best in class wellbeing provid...,offering smart personalized feel good journeys,best brands & products,motivating user journey and flexibility to su...,NaN,NaN,NaN,NaN

In [110]:
test_data_cb.iloc[0:]["Affinity Row ID"]

0       110549018
1       110547062
2       110546996
3       110510705
4       110510703
          ...
4619     33580184
4620     33578800
4621     33535417
4622     33535348
4623     33535133
Name: Affinity Row ID, Length: 4624, dtype: object

In [111]:
test_data_cb["Affinity Row ID"] = pd.to_numeric(test_data_cb["Affinity Row ID"], errors="coerce")

In [112]:
test_data_cb.iloc[0:]["Affinity Row ID"].dtype.kind in "f"

True

In [113]:
print(test_data_cb.isna().sum())
print("Number of Rows:",len(test_data_cb))

Affinity Row ID     139
Organization Id      65
Name                117
Status              133
Description         674
Source              402
Lost Reason        1340
Date Added          350
dtype: int64
Number of Rows: 4624

In [114]:
test_data_cb["Status"].unique()

array(['Call / Meeting -> move to dealflow', 'Outreach done', '1 Lost',
       'Incoming', 'Waitlist / later', 'To be contacted', nan, ' Siemens',
       ' etc.) as it creates coherence in systems at the most basic level of energy flow."',
       ' or custody providers',
       ' motivating user journey and flexibility to support their employees’ health and happiness. Helping and motivating to live a more happy and healthier life. ',
       '2nd outreach done',
       'Paula Rappenglück <paula.rappenglueck@alstin.de>', '05.11.2022'],
      dtype=object)

In [115]:
good_stat_values=[" Siemens", ' etc.) as it creates coherence in systems at the most basic level of energy flow."', " or custody providers"," motivating user journey and flexibility to support their employees’ health and happiness. Helping and motivating to live a more happy and healthier life. ", "Paula Rappenglück <paula.rappenglueck@alstin.de>", "05.11.2022" ]

In [116]:
test_data_cb = test_data_cb[~test_data_cb["Status"].isin(good_stat_values)]

In [117]:
test_data_cb["Status"].unique()

array(['Call / Meeting -> move to dealflow', 'Outreach done', '1 Lost',
       'Incoming', 'Waitlist / later', 'To be contacted', nan,
       '2nd outreach done'], dtype=object)

In [118]:
test_data_cb.head(b)

,Affinity Row ID,Organization Id,Name,Status,Description,Source,Lost Reason,Date Added
0,110549018.0,286182967,Let's Lama,Call / Meeting -> move to dealflow,NaN,LinkedIn Navigator,NaN,06/13/2022
1,110547062.0,286181805,Steep,Outreach done,NaN,LinkedIn Navigator,NaN,06/13/2022
2,110546996.0,286181449,Jetty,Outreach done,NaN,LinkedIn Navigator,NaN,06/13/2022
3,110510705.0,286177187,tastric,1 Lost,Das Unternehmen entwickelt Software zur Analys...,Startupdetector - START,1 Sector / Business Model,06.12.2022
4,110510703.0,286177186,Studio Sterneck & Co. KG,1 Lost,Das Unternehmen entwickelt Videospiele für den...,Startupdetector - START,2 Out of focus,06.12.2022